<link rel="stylesheet" href="/nav.css" />

<div class="nav">
  <div class="logo">
    <img
      src="https://careerinbank.com/wp-content/uploads/2021/04/axis-bank-jobs-near-me.png"
      alt="Logo"
    />
    <span>Axis</span>
  </div>
  <div class="address">
    <div class="icon">
      <ion-icon name="card-outline"></ion-icon>
    </div>
    <div class="data">
      <div class="st">12 Big ban street</div>
      <div class="city">London</div>
    </div>
  </div>
  <div class="email">
    <div class="icon">
      <ion-icon name="mail-outline"></ion-icon>
    </div>
    <div class="data">
      <div class="desc">Our Email Address</div>
      <div class="e">support@axis.com</div>
    </div>
  </div>
  <div class="phone">
    <div class="icon">
      <ion-icon name="call-outline"></ion-icon>
    </div>
    <div class="data">
      <div class="desc">Call Us</div>
      <div class="num">+2015487891</div>
    </div>
  </div>
</div>
